### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [2]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [21]:
Total_Players = purchase_data['SN'].nunique()

pd.DataFrame({'Total Players':Total_Players},index=[0])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [24]:
all_items = purchase_data['Item Name'].str.split(',').apply(lambda x: [item.strip() for item in x]).explode()
unique_items = all_items.nunique()
unique_item = purchase_data['Item Name'].nunique()
avg_price = np.average(purchase_data['Price'])
nPurchase = purchase_data.shape[0]
tRevenue = np.sum(purchase_data['Price'])
pd.DataFrame({'Number of Unique Items':unique_items,
              'Average Price':avg_price,
              'Number of Purchases':nPurchase,
              'Total Revenue':tRevenue},index=[0])

#第一題答案不對

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     226       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [56]:
selected_column = ['SN','Gender']
df = purchase_data[selected_column]
unique_df = df.drop_duplicates(subset=['SN'])

tMale = np.sum(unique_df['Gender'] == 'Male')
tFemale = np.sum(unique_df['Gender'] == 'Female')
tOther = np.sum(unique_df['Gender'] == 'Other / Non-Disclosed')

sum = tMale + tFemale +tOther

m_ratio = np.round((tMale/sum)*100,decimals=2)
f_ratio = np.round((tFemale/sum)*100,decimals=2)
o_ratio = np.round((tOther/sum)*100,decimals=2)

temp = {'Male':[m_ratio,tMale],'Female':[f_ratio,tFemale],'Other / Non-Disclosed':[o_ratio,tOther]}
pd.DataFrame.from_dict(temp,orient='index').rename(columns={0:'Percentage of Players',1:'Total Count'})

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [88]:
genders = ['Female','Male','Other / Non-Disclosed']
t = [tFemale,tMale,tOther]

temp = {}
for i in range(len(genders)):
    gender = genders[i]
    temp[gender] = [np.sum(purchase_data['Gender'] == gender)]
    tPurchase = purchase_data[(purchase_data['Gender'] == gender)].groupby(['Gender'])['Price'].sum().iloc[0]
    aPusrchase = np.round(tPurchase/temp[gender][0],decimals=5)
    per_aPusrchase = np.round(tPurchase/t[i],decimals=2)
    temp[gender].extend([aPusrchase,tPurchase,per_aPusrchase]) #


df = pd.DataFrame.from_dict(temp,
                            orient='index',
                            columns=['Purchase Count Average', 'Purchase Price'	,'Total Purchase Value'	,'Avg Purchase Total per Person'])
df

,Purchase Count Average,Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Female,113,3.20301,361.94,4.47
Male,652,3.01785,1967.64,4.07
Other / Non-Disclosed,15,3.34600,50.19,4.56

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame