In [205]:
import pandas as pd
df = pd.read_csv('IMDB-Movie-Data.csv')
df.columns

Index(['Rank', 'Title', 'Genre', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

Top‐3 movies with the highest ratings in 2016?

In [206]:
temp = df.loc[:,['Title','Rating']]
temp.sort_values(by='Rating',ascending=False)[0:3]

             Title  Rating
0  The Dark Knight     9.0
2           Dangal     8.8
1        Inception     8.8

The actor generating the highest average revenue?

In [207]:
df['Revenue (Millions)'].fillna(0,inplace=True) 
temp = {}
for i in range(3): 
    actor = df['Actors'][i].split("|") #分隔線後還有一格，這樣才能取出完整的名稱
    for j in range(len(actor)):
        actor[j] = actor[j].strip()
    print(actor)
    df['Actors'][i] =actor
    for k in actor:
        if k in temp:
            temp[k].append(df['Revenue (Millions)'][i])
        else:
            temp[k] = [df['Revenue (Millions)'][i]]

#highest 'Average' revenue
for key, values in temp.items() :
    temp[key] = sum(values)/len(values)

# highest_revenue = pd.DataFrame.from_dict(temp,orient="index").rename(columns={0: "Revenue"})
# highest_revenue.sort_values(by='Revenue',ascending=False)
# highest_revenue.iloc[0]
df['Actors'][0]

['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']
['Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Ellen Page', 'Ken Watanabe']
['Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra']

C:\Users\user\AppData\Local\Temp\ipykernel_36480\2109630639.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Actors'][i] =actor
C:\Users\user\AppData\Local\Temp\ipykernel_36480\2109630639.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Actors'][i] =actor
C:\Users\user\AppData\Local\Temp\ipykernel_36480\2109630639.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Actors'][i] =actor

['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine']

The average rating of Emma Watson’s movies?

In [208]:
print(df['Actors'][0],'a')
emma_rating = []
for i in range(df.shape[0]):
    actor = df['Actors'][i]
    for k in actor:
        if k =='Emma Watson':
            emma_rating.append(df['Rating'][i]) 
print(df['Actors'][0],'a')
print('The average rating of Emma Watson’s movies is',sum(emma_rating)/len(emma_rating))

['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine'] a
['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine'] a

ZeroDivisionError: division by zero

Top‐3 directors who collaborate with the most actors?

In [203]:
collab ={}
print(df['Actors'][0],'a')
for i in range(3):#df.shape[0]):
    director = df['Director'][i]
    actor = df['Actors'][i]
    if director in collab:
        for k in actor:
            print(k)
            if k not in collab[director]: #避免重複加入
                collab[director].append(k)
    else:
        collab[director] = actor
    print(collab)
#計算數量
for keys,values in collab.items():
    collab[keys] = len(values)

collab = pd.DataFrame.from_dict(collab,orient='index').rename(columns={0:'# of collab actor'})

collab.sort_values(by='# of collab actor',ascending=False)
collab
df['Actors'][0]

['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Ellen Page', 'Ken Watanabe'] a
{'Christopher Nolan': ['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Ellen Page', 'Ken Watanabe']}
Leonardo DiCaprio
Joseph Gordon-Levitt
Ellen Page
Ken Watanabe
{'Christopher Nolan': ['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Ellen Page', 'Ken Watanabe']}
{'Christopher Nolan': ['Christian Bale', 'Heath Ledger', 'Aaron Eckhart', 'Michael Caine', 'Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Ellen Page', 'Ken Watanabe'], 'Nitesh Tiwari': ['Aamir Khan', 'Sakshi Tanwar', 'Fatima Sana Shaikh', 'Sanya Malhotra']}

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhart',
 'Michael Caine',
 'Leonardo DiCaprio',
 'Joseph Gordon-Levitt',
 'Ellen Page',
 'Ken Watanabe']

In [167]:
a ={'b':2}
a['b'] +=1
print(a)
a =['1','2','3']
print(len(a))

{'b': 3}
3